.App-container {
    padding-top: 60px;
    height: 100vh;
}

.item {
    &__box {
        &:hover {
            transform: scale(1.1);
            transition: transform 0.2s ease-in-out;
        }
        cursor: pointer;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 6px 6px 4px #c9c7c7;
        margin: 10px;
        padding: 20px;

        min-width: 170px;
        min-height: 289px;
        border: 5px solid gray;
        &--fire {
            background: linear-gradient(#f0803099, rgb(255, 255, 255));
            border-color: #f08030;
        }
        &--grass {
            background: linear-gradient(#78c85099, rgb(255, 255, 255));
            border-color: #78c850;
        }
        &--electric {
            background: linear-gradient(#f8d03099, rgb(255, 255, 255));
            border-color: #f8d030;
        }
        &--water {
            background: linear-gradient(#6890f099, rgb(255, 255, 255));
            border-color: #6890f0;
        }
        &--ground {
            background: linear-gradient(#e0c06899, rgb(255, 255, 255));
            border-color: #e0c068;
        }
        &--rock {
            background: linear-gradient(#b8a03899, rgb(255, 255, 255));
            border-color: #b8a038;
        }
        &--fairy {
            background: linear-gradient(#ee99ac99, rgb(255, 255, 255));
            border-color: #ee99ac;
        }
        &--poison {
            background: linear-gradient(#a040a099, rgb(255, 255, 255));
            border-color: #a040a0;
        }
        &--bug {
            background: linear-gradient(#a8b82099, rgb(255, 255, 255));
            border-color: #a8b820;
        }
        &--dragon {
            background: linear-gradient(#7038f899, rgb(255, 255, 255));
            border-color: #7038f8;
        }
        &--psychic {
            background: linear-gradient(#f8588899, rgb(255, 255, 255));
            border-color: #f85888;
        }
        &--flying {
            background: linear-gradient(#4a677d99, rgb(255, 255, 255));
            border-color: #4a677d;
        }
        &--fighting {
            background: linear-gradient(#99402599, rgb(255, 255, 255));
            border-color: #994025;
        }
        &--normal {
            background: linear-gradient(#a8a87899, rgb(255, 255, 255));
            border-color: #a8a878;
        }
        &--dark {
            background: linear-gradient(#5a597999, rgb(255, 255, 255));
            border-color: #5a5979;
        }
        &--ghost {
            background: linear-gradient(#70589899, rgb(255, 255, 255));
            border-color: #705898;
        }
        &--ice {
            background: linear-gradient(#86d1f399, rgb(255, 255, 255));
            border-color: #86d1f3;
        }
        &--steel {
            background: linear-gradient(#42bd9499, rgb(255, 255, 255));
            border-color: #42bd94;
        }
    }
}

.img {
    &__block {
        &--pokemon {
            width: 180px;
            height: 180px;
            z-index: 10;
        }
        &--ball {
            position: absolute;
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.04;
        }
        display: flex;
        width: 100%;
        height: 210px;
        justify-content: center;
        align-items: flex-end;
    }
}

.info {
    &__number {
        font-size: 56px;
        color: rgba(0, 0, 0, 0.3);
        letter-spacing: 0.1em;
        position: absolute;
        top: 0;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        left: 50%;
        transform: translateX(-50%);
    }
    &__name {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        margin-top: -10px;
        display: block;
        text-align: center;
    }
}

.btn {
    &__block {
        background: #d6013f;
        border-radius: 15px;
        border: none;
        width: 50px;
        height: 50px;
        cursor: pointer;
        color: #fff;
        font-size: 30px;
        margin: 20px 0;
        &--disabled {
            background: #ea535d;
        }
    }
}

.tag {
    &__block {
        display: flex;
        justify-content: center;
    }
    &__type {
        padding: 4px;
        color: #fff;

        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        &--fire {
            color: #f08030;
        }
        &--grass {
            color: #78c850;
        }
        &--electric {
            color: #f8d030;
        }
        &--water {
            color: #6890f0;
        }
        &--ground {
            color: #e0c068;
        }
        &--rock {
            color: #b8a038;
        }
        &--fairy {
            color: #ee99ac;
        }
        &--poison {
            color: #a040a0;
        }
        &--bug {
            color: #a8b820;
        }
        &--dragon {
            color: #7038f8;
        }
        &--psychic {
            color: #f85888;
        }
        &--flying {
            color: #4a677d;
        }
        &--fighting {
            color: #994025;
        }
        &--normal {
            color: #a8a878;
        }
        &--dark {
            color: #5a5979;
        }
        &--ghost {
            color: #705898;
        }
        &--ice {
            color: #86d1f3;
        }
        &--steel {
            color: #42bd94;
        }
    }
}
