.header {
    &__container {
        padding: 8px 30px;
        box-shadow: 0 0 40px 8px rgb(0 0 0 / 18%);
        // text-align: right;
        justify-content: space-between;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0px;
        width: 100vw;
        z-index: 999;
        background-color: #e83e34;
        min-height: 60px;
    }
    &__title {
        font-family: Montserrat, sans-serif;
        font-weight: 900;
        margin-bottom: 0;
        color: white;
        font-size: 28px;
    }
}
