@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("//cdn.jsdelivr.net/gh/boninto/fontchu@4b087ca/css/all.min.css");
@import url("//db.onlinewebfonts.com/c/3842e61259749b29f8f2859c43be9506?family=AlleynW01-Medium");

html {
    font-size: 10px;
}

@media (max-width: 600px) {
    html {
        font-size: 5px;
    }
}
body {
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    text-align: center;
    font-family: "Montserrat";
    position: relative;
}

a,
a:hover {
    text-decoration: none;
    color: #000000;
}

.all-container {
    margin: 8px auto 0 auto;
    display: flex;
    width: 95%;
    flex-wrap: wrap;
}

.all-container a {
    flex: calc(100% / 6);
}

.all-container:after {
    content: "";
    flex: 1;
    width: 100%;
}
